# Your deployment name, choose anything. make it short.
name: my-sharehouse
# region: eu # optional
host: my-sharehouse.minikube.local

title: "CoThings Local"
env: dev
admin:
  username: root
  password: toor

# How to create secretKeyBase: `pwgen -A -y 48 | head -n 1 | base64`
# eg. create 48 byte random data, base64 it.

# DO NOT USE THIS ONE! DO NOT USE THIS ONE! DO NOT USE THIS ONE!
secretKeyBase: "RE8gTk9UIFVTRSBUSElTIE9ORSEgRE8gTk9UIFVTRSBUSElTIE9ORSEgRE8gTk9UIFVTRSBUSElTIE9ORSEK"

database:
  # external: # TODO
  #   host: my-custom-postgresql:5432
  #   tls: true
  #   username: blah

  password: a_database_password_for_postgres
  name: cothings_demo # database name
  poolSize: 48
  # initialSeed:
  #   configMap:
  #     name: init-db

  # enable persistence for production deployments
  persistence:
    enabled: false # enable for auto creating a PVC and store the data
    # storageClassName: default
    size: "1Gi"

ingress:
  enabled: false
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/tls-acme: "true"
