<div class="light-grey">
    <div id="bar_<%= @room.id %>" style="width: <%= get_room_percentage(@room) %>%;" class="progress-bar <%= get_room_css_class(@room) %>">
        <span class="percentage" id="room_<%= @room.id %>_percentage"><%= get_room_percentage(@room) %>%<span>
    </div>
</div>
