<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || Application.get_env(:coliving, :app_title) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <script>
    //window.userToken = "<%= assigns[:user_token] %>"
      window.userToken = '<%= Phoenix.Token.sign(ColivingWeb.Endpoint, "user socket", "47375ea2-26d4-4377-8715-8263b61e5b23") %>'
    </script>
    <script>
        function wentAway() {
            window.disconnect();
        }

        function cameBack() {
            if (typeof connectToSocket !== 'function') return;
            connectToSocket();
        }

        function navigateBack() {
            if (typeof connectToSocket !== 'function') return;
            connectToSocket();
        }
    </script>
  </head>
  <body onblur="wentAway()" onfocus="cameBack()" onpageshow="navigateBack()" onbeforeunload="wentAway()">
    <header>
      <section class="container">
        <%= if @conn.assigns[:logged_in] do %>
          <nav role="navigation">
            <ul>
              <li>
                <a href="/session/logout">Logout</a>
              </li>
            </ul>
          </nav>
        <% end %>
        <a href="/" class="phx-logo">
          <h3><%= Application.get_env(:coliving, :app_title) %></h3>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
