/* This file is for your main application css. */

@import "./phoenix.css";
@import "./circle.css";
div.room-status {
    width: 100%;
}

#inner {
    display: table !important;
    margin: 0 auto !important;
}

#room-counter {
    text-align: center;
}

#counter {
    font-size: 3em;
}

#last-updated {
    display: block;
    font-size: 1em;
}

div.green2 {
    background-color: rgb(129, 160, 90);
}

div.orange2 {
    background-color: #FFC300;
}

div.red2 {
    background-color: red;
}


/* span.green {
    color: rgb(129, 160, 90);
} */


/* span.orange {
    color: #FFC300;
}

span.red {
    color: red;
} */

p.welcome-info {
    font-size: 1em !important;
}

td.center {
    text-align: center;
}

th.center {
    text-align: center;
}


/* Progress Bar */

.light-grey {
    width: 100%;
    height: 26px;
    display: block;
    background-color: #f1f1f1;
}

.progress-bar {
    padding-top: 3px;
    padding-bottom: 3px;
    width: inherit;
    max-width: 100%;
    text-align: center;
    height: 26px;
    display: block;
    z-index: 1000;
}

span.percentage {
    color: #000000;
}