/* This file is for your main application css. */

@import "./phoenix.css";

div.room-status {
    width: 100%;
}

#inner {
    display: table !important;
    margin: 0 auto !important;
}

#room-counter {
    text-align: center;
}

#counter {
    font-size: 3em;
}

#last-updated {
    display: block;
    font-size: 1em;
}

p.welcome-info {
    font-size: 1em !important;
}

td.center {
    text-align: center;
}

th.center {
    text-align: center;
}

.occupied {
    display: block;
    font-size: small;
}

.time {
    display: block;
    font-size: small;
}

.last-updated {
    color: #f49002
}

.room-stats {
    display: flex;
    justify-content: center;
}

.room-percentage {
    float: left;
    display: block;
    margin-right: 5px;
}

.room-actions {
    float: left;
    display: block;
    width: 50px;
}

.room-actions>button {
    display: list-item;
}

.single-chart {
    width: 80px;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: rgb(118, 141, 90)
}

.circular-chart.red .circle {
    stroke: red;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}