@keyframes donut-chart-fill {
    to {
        stroke-dasharray: 0 100;
    }
}

.svg-item {
    font-size: 16px;
}

.donut-ring {
    stroke: #EBEBEB;
}

.donut-segment {
    animation: donut-chart-fill 1s reverse ease-in;
    transform-origin: center;
}

.donut-text {
    fill: #000;
}

.donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    transform: translateY(0.25em);
}

.donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
}