body {
    background-color: #f1f1f1;
    font-family: AvenirNext, Helvetica, Arial, sans-serif;
}

.container {
    margin: 16px;
    border: solid 1px #d9d9d9;
    background-color: #fafafa;
}

.header {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 20px;
    padding-top: 20px;
    height: 76px;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

.header-title {
    width: 100%;
    /* background-image: url('../static/images/house.jpg'); */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.header-occupants {
    position: relative;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}