<section class="phx-hero">
  <p class="welcome-info">Welcome to Lobby!</p>
</section>
<section class="row">
  <article class="column">
    <div class="people">
     
    </div>
  </article>
</section>
<section class="row">
  <article class="column">
    
  </article>
</section>
<script>

</script>
